#Development folders
.vscode
src
examples
tests
typedoc
test
./*
!package.json

#Root configuration files
.github
.*ignore
.*attributes
.*rc.json
.*rc.js
*.config.js
tsconfig.json
package-lock.json
yarn.lock
*.tgz
